<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="base" value="memory"/>
		<add key="PathDefaultLanguageName" value="I18n/idioma."/>
		<add key="DALAssembly" value="DAL.dll"/>
		<add key="BLLAssembly" value="BLL.dll"/>
		<add key="UIAssembly" value="UI.dll"/>
		<add key="PathLog" value="D:\logs\"/>
		<add key="LogNameFile" value="info.log"/>
		<add key="DefaultCulture" value="es-AR"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>